<ion-label class="tituloAdmin">
  <h1>Panel de Administración</h1>
</ion-label>
<div class="card">
  <ion-img class="icon-img" src="../../assets/icon/user.png"></ion-img>

  <div class="card-content">
    <h3 class="title">Usuarios</h3>
    <ion-buttons>
      <ion-button (click)="funcionUsuarios()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</div>

<div class="card2">
  <ion-img class="icon-img" src="../../assets/icon/car.png"></ion-img>

  <div class="card-content">
    <h3 class="title">Viajes</h3>
    <ion-buttons>
      <ion-button (click)="funcionViajes()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</div>
