<ion-content [fullscreen]="true">
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        
        <img src="assets/icon/iconPerfil1.webp">
      </ion-avatar>
      <ion-label class="tituloRegistro">
        <h1>Perfil</h1>
      </ion-label>
    </div>
  </ion-grid>

  <!-- <ion-row class="ion-padding-horizontal">
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="car" color="primary"></ion-icon>
        <ion-title>Piloto</ion-title>
        <ion-label>3</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="people" color="primary"></ion-icon>
        <ion-title>Pasajero</ion-title>
        <ion-label>15</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>-->

  <ion-button (click)="logout()" expand="full" color="secondary" class="ion-margin-top" shape="round">Cerrar sesión</ion-button>


  <form [formGroup]="personaForm" (ngSubmit)="modificar()">
    
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">

      <ion-item class="ion-margin-vertical">
        <ion-icon name="grid-outline" slot="end" color="primary"></ion-icon>
        <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT" placeholder="RUT" readonly></ion-input>
      </ion-item>

    
      <ion-item class="ion-margin-vertical">
        <ion-icon name="person-outline" slot="end" color="primary"></ion-icon>
        <ion-input formControlName="usuario" type="text" labelPlacement="stacked" label="Usuario" placeholder="Nombre de usuario"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon name="mail-outline" slot="end" color="primary"></ion-icon>
        <ion-input formControlName="email" type="email" labelPlacement="stacked" label="Email" placeholder="Correo electrónico" readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon name="key-outline" slot="end" color="primary"></ion-icon>
        <ion-input formControlName="contrasena" type="password" labelPlacement="stacked" label="Contraseña" placeholder="Contraseña" readonly></ion-input>
        <div *ngIf="personaForm.errors?.['passwordMismatch']" class="error-message">
          Las contraseñas no coinciden.
        </div>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon name="key-outline" slot="end" color="primary"></ion-icon>
        <ion-input formControlName="contrasena_conf" type="password" labelPlacement="stacked" label="Repetir contraseña" placeholder="Confirmar contraseña" readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon name="calendar-outline" slot="end" color="primary"></ion-icon>
        <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha nacimiento" placeholder="Ingrese fecha de nacimiento"></ion-input>
        <div *ngIf="personaForm.get('fecha_nacimiento')?.errors?.['edadInvalida']" class="error-message">
          Debes tener al menos 18 años.
        </div>
      </ion-item>
      <ion-item>

        <ion-icon name="settings-outline" slot="end" color="primary"></ion-icon>
        <ion-label>¿Tiene vehículo?</ion-label>
        <ion-checkbox formControlName="tieneVehiculo" (ionChange)="toggleFormulario()"></ion-checkbox>
      </ion-item>

      <div *ngIf="personaForm.get('tieneVehiculo')?.value">
        <ion-card class="vehicle-card"> 
          <ion-item>
            <ion-icon name="document-outline" slot="end" color="primary"></ion-icon>
            <ion-input formControlName="patente" type="text" labelPlacement="stacked" label="Patente" placeholder="Ingrese patente del vehículo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="car-outline" slot="end" color="primary"></ion-icon>
            <ion-input formControlName="marca" type="text" labelPlacement="stacked" label="Marca del auto" placeholder="Ingrese marca del vehículo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="pricetags-outline" slot="end" color="primary"></ion-icon>
            <ion-input formControlName="modelo" type="text" labelPlacement="stacked" label="Modelo del auto" placeholder="Ingrese modelo del vehículo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="color-fill-outline" slot="end" color="primary"></ion-icon>
            <ion-input formControlName="color" type="text" labelPlacement="stacked" label="Color del auto" placeholder="Ingrese color del vehículo"></ion-input>
          </ion-item>
        </ion-card>

        <ion-item>
          <ion-icon name="people-outline" slot="end" color="primary"></ion-icon>
          <ion-label>Capacidad (plazas)</ion-label>
          <div>
            <p>{{ personaForm.get('plazas')?.value }}</p>
          </div>
          <br>
          <ion-select formControlName="plazas" label="Selecciona el número de plazas" interface="action-sheet">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
          </ion-select>
        </ion-item>

        
      </div>

    
      <div *ngIf="editar">
        <ion-button (click)="modificar()" expand="full" color="dark" class="ion-margin-top" shape="round">Editar</ion-button>
      </div>


    </ion-list>  
  </form>
</ion-content>
